.DS_Store
my_plugins/vim-clang-format/doc/tags
sources_non_forked/ack.vim/.netrwhist
sources_forked/yankring/doc/tags
sources_non_forked/tlib/doc/tags
sources_non_forked/ctrlp.vim/doc/tags*
tags
temp_dirs/undodir/*
temp_dirs/yankring_history_v2.txt
vimrcs/
!vimrcs/*.vim
